.containerContact {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to  right bottom, white 30%, #FFFAFA 50%, #B7AB9F 100%)
}

.h1Contact {
    font-size: 24px;
    margin-bottom: 20px; 
}

.h2Contact {
    font-size: 20px;
}

.ulContact {
    display: flex;
    list-style: none;
    display: flex;
    padding-top: 16px;
    justify-content: space-around;
    align-content: space-between;
    text-decoration: none;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: #28293E;
}

.li {
    padding: 20px;
}

.scroll {
    display: flex;
    width: 200px;         
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    background-color:#28293E;
    border: 1px solid #28293E;
    line-height: 40px;
    justify-content: center;
    align-items: center;
    margin: 90px auto 51px auto;  
}

.aContact {
    color: white;
    font-size: 18px;
}

@media (min-width: 375px) {
    .aContact {
        color: white;
        font-size: 14px;
    }

    .scroll {
        display: flex;
        width: 150px;     
        line-height: 33px;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
    }
}
 
@media (min-width: 768px) {
    .h1Contact {
        font-size: 35px;
        margin-bottom: 20px;
    } 

    .h2Contact {
        font-size: 30px;
    } 

    .aContact {
        text-decoration: none;
        font-size: 20px;
    }

    .scroll {
        width: 200px;         
        line-height: 50px;
        margin-top: 150px;
    }

    a {
        font-size: 30px;
    }
}

@media (min-width: 1920px) {
    .h1Contact {
        font-size: 50px;
        margin-bottom: 20px;
    }

    .h2Contact {
        font-size: 44px;
    }

    a {
        text-decoration: none;
        font-size: 40px;
    }

    .scroll {
        width: 300px;         
        border-radius: 6px;
        line-height: 60px;
        margin-top: 150px;
    }

    .aContact {
        text-decoration: none;
        font-size: 30px;
    }
}