.containerResume {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonResume {
    margin: auto auto auto auto;
    box-shadow: 10px 10px 60px 10px #B7AB9F; 
}

.aResume {
    color: white;
    font-size: 27px;
    line-height: 60px;
}

.resume {
    justify-content: start;
    align-self: flex-start;
}

@media (min-width: 768px) {
    .aResume{
        font-size: 35px;
        line-height: 90px;
    }
}

@media (min-width: 1920px) {
    .aResume {
        font-size: 70px;
        line-height: 150px;
    }
}